<form>
  <mdl-list class="signin-list">
    <mdl-list-item>
      <h3>Cadastro</h3>
    </mdl-list-item>
    <mdl-list-item>
      <mdl-textfield type="text" floating-label name="email" label="E-mail" [(ngModel)]="email"></mdl-textfield>
    </mdl-list-item>
    <mdl-list-item>
      <mdl-textfield type="password" floating-label name="pass" label="Senha" [(ngModel)]="pass"></mdl-textfield>
    </mdl-list-item>
    <mdl-list-item>
      <mdl-textfield type="password" floating-label name="passConf" label="Conf." [(ngModel)]="passConf"></mdl-textfield>
    </mdl-list-item>
    <mdl-list-item>
      <button mdl-button mdl-button-type="raised" mdl-ripple mdl-colored="primary" (click)="signInWithEmail()">
      Cadastrar
    </button>
    </mdl-list-item>
  </mdl-list>
</form>