<form>
  <mdl-list class="login-list">
    <mdl-list-item>
      <h3>Cadastro</h3>
    </mdl-list-item>
    <mdl-list-item>
      <mdl-textfield type="text" floating-label name="email" label="E-mail" [(ngModel)]="email"></mdl-textfield>
    </mdl-list-item>
    <mdl-list-item>
      <mdl-textfield type="password" floating-label name="pass" label="Senha" [(ngModel)]="pass"></mdl-textfield>
    </mdl-list-item>
    <mdl-list-item>
      <mdl-textfield type="password" floating-label name="passConf" label="Conf." [(ngModel)]="passConf"></mdl-textfield>
    </mdl-list-item>
    <mdl-list-item>
      <button mdl-button (click)="signInWithEmail()" mdl-colored="primary" mdl-ripple>
      Cadastrar
    </button>
    </mdl-list-item>
  </mdl-list>
</form>