<mdl-list>
  <mdl-list-item lines="2" *ngFor="let item of items | async">
    <mdl-list-item-primary-content>
      <img class="mdl-list__item-avatar" [src]="item.dishImage"/>
      <span>{{item.dishName}}</span>
      <mdl-list-item-sub-title>Solicitado às {{item.time | date : 'dd/MM/yyyy HH:mm:ss'}}</mdl-list-item-sub-title>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <mdl-list-item-secondary-info>Preço</mdl-list-item-secondary-info>
      <span>{{item.price | currency : 'BRL':true}}</span>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
</mdl-list>