<div class="login-list mdl-list">
  <div class="mdl-list__item">
    <h1>Bem vindo, realize o login</h1>
  </div>
  <div class="mdl-list__item">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" (click)="loginWithFacebook()">
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
      Login com Facebook
    </button>
  </div>
  <div class="mdl-list__item">
    <button disabled style="background-color: red" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
      <i class="fa fa-google" aria-hidden="true"></i>
      Login com Google
    </button>
  </div>
</div>