<form>
  <mdl-list class="login-list">
    <mdl-list-item>
      <h3>Bem vindo</h3>
    </mdl-list-item>
    <mdl-list-item>
      <mdl-textfield type="text" label="E-mail" name="email" floating-label [(ngModel)]="email"></mdl-textfield>
    </mdl-list-item>
    <mdl-list-item>
      <mdl-textfield type="password" label="Senha" name="pass" floating-label [(ngModel)]="pass"></mdl-textfield>
    </mdl-list-item>
    <mdl-list-item>
      <p>Ainda não é <a [routerLink]="['/signin']">cadastrado</a>?</p>
    </mdl-list-item>
    <mdl-list-item>
      <button mdl-button mdl-button-type="raised" mdl-ripple mdl-colored="primary" (click)="loginWithEmail()" class="mdi mdi-login-variant">
        Login
      </button>
    </mdl-list-item>
    <mdl-list-item>
      <button mdl-button mdl-button-type="raised" mdl-ripple mdl-colored="primary" (click)="loginWithFacebook()" class="mdi mdi-facebook-box">
        Login com Facebook
      </button>
    </mdl-list-item>
    <mdl-list-item>
      <button style="background-color: red" mdl-button mdl-button-type="raised" mdl-ripple mdl-colored="primary"
        (click)="loginWithGoogle()" class="mdi mdi-google">
          Login com Google
        </button>
    </mdl-list-item>
  </mdl-list>
</form>