<mdl-card class="menu-card-wide" mdl-shadow="2" *ngFor="let item of items">
  <mdl-card-title [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
    <h2 mdl-card-title-text>{{item.name}}</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    {{item.description | truncate : 100}}
  </mdl-card-supporting-text>
  <mdl-card-actions mdl-card-border>
    <button mdl-button mdl-colored="primary" mdl-ripple (click)="orderDish(item)" [disabled]="working || (ch.checkIn && !ch.checkIn.table) || (ch.checkIn && !!ch.checkIn.orderedCheckOut)">Solicitar</button>
    <div class="mdl-layout-spacer"></div>
    <button mdl-button mdl-colored="primary" mdl-ripple mdl-button-type="icon" (click)="toggleFavorite(item)" [disabled]="working">
      <mdl-icon *ngIf="!verifyFavoriteDish(item)">star_border</mdl-icon>
      <mdl-icon *ngIf="verifyFavoriteDish(item)">star</mdl-icon>
    </button>
    <button mdl-button mdl-colored="primary" mdl-ripple mdl-button-type="icon" [mdl-toggle-menu]="moreInfoMenu">
      <mdl-icon>info</mdl-icon>
    </button>
    <mdl-menu #moreInfoMenu="mdlMenu" mdl-menu-position="top-right">
      <mdl-menu-item>Comentários</mdl-menu-item>
      <mdl-menu-item>Ingredientes</mdl-menu-item>
    </mdl-menu>
  </mdl-card-actions>
  <mdl-card-menu>
    <mdl-chip mdl-label="{{item.price | currency : 'BRL':true}}">

    </mdl-chip>
  </mdl-card-menu>
</mdl-card>