<mdl-list class="checkin-list">
  <mdl-list-item lines="2" *ngFor="let item of items | async" (click)="selectedCheckIn = item">
    <mdl-list-item-primary-content>
      <img class="mdl-list__item-avatar" [src]="item.userPhotoURL" />
      <span>{{item.userDisplayName}}</span>
      <mdl-list-item-sub-title *ngIf="!item.orderCheckOutTime && !item.table">Sol. CheckIn. às {{item.orderCheckInTime | date : 'dd/MM/yyyy HH:mm:ss'}}</mdl-list-item-sub-title>
      <mdl-list-item-sub-title *ngIf="!item.orderCheckOutTime && !!item.table">CheckIn. às {{item.checkInTime | date : 'dd/MM/yyyy HH:mm:ss'}}</mdl-list-item-sub-title>
      <mdl-list-item-sub-title *ngIf="!!item.orderCheckOutTime && !item.total">Sol. CheckOut. às {{item.orderCheckOutTime | date : 'dd/MM/yyyy HH:mm:ss'}}</mdl-list-item-sub-title>
      <mdl-list-item-sub-title *ngIf="!!item.total">CheckOut. às {{item.checkOutTime | date : 'dd/MM/yyyy HH:mm:ss'}}</mdl-list-item-sub-title>
      <mdl-list-item-sub-title *ngIf="!item.orderCheckOutTime && !item.table">Aguardando Mesa</mdl-list-item-sub-title>
      <mdl-list-item-sub-title *ngIf="!item.orderCheckOutTime && !!item.table">Esta na mesa {{item.table}}</mdl-list-item-sub-title>
      <mdl-list-item-sub-title *ngIf="!!item.orderCheckOutTime && !item.total">Aguardando checkout</mdl-list-item-sub-title>
      <mdl-list-item-sub-title *ngIf="!!item.total">Total da conta {{item.total | currency : 'BRL':true}}</mdl-list-item-sub-title>
    </mdl-list-item-primary-content>
    <mdl-list-item-secondary-content>
      <button mdl-button mdl-colored="primary" mdl-ripple mdl-button-type="icon" (click)="checkInOrdersDialog.show()">
        <mdl-icon>view_list</mdl-icon>
      </button>
      <button mdl-button mdl-colored="primary" *ngIf="!item.orderCheckOutTime && !item.table" mdl-ripple mdl-button-type="icon"
        (click)="checkInTableDialog.show()">
        <mdl-icon>local_offer</mdl-icon>
        </button>
        <button mdl-button mdl-colored="primary" *ngIf="!!item.orderCheckOutTime && !item.total" mdl-ripple mdl-button-type="icon"
          (click)="checkOutTableDialog.show()">
          <mdl-icon>call_missed_outgoing</mdl-icon>
          </button>
    </mdl-list-item-secondary-content>
  </mdl-list-item>
</mdl-list>

<mdl-dialog #checkInOrdersDialog [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '90vw', 'height': '100vh', 'padding':'0px'},
              isModal:true,
              enterTransitionDuration: 200,
              leaveTransitionDuration: 200}" (show)="loadOrdersByCheckIn()">

  <div class="orders__title mdl-dialog__title">
    <mdl-layout-spacer></mdl-layout-spacer>
    <button mdl-button (click)="checkInOrdersDialog.close()" mdl-colored="primary" mdl-ripple mdl-button-type="icon"><mdl-icon>close</mdl-icon></button>
  </div>
  <div class="orders__content mdl-dialog__content">
    <mdl-list>
      <mdl-list-item lines="2" *ngFor="let item of orders | async">
        <mdl-list-item-primary-content>
          <img class="mdl-list__item-avatar" [src]="item.dishImage" />
          <span>{{item.dishName}}</span>
          <mdl-list-item-sub-title>Solicitado às {{item.time | date : 'dd/MM/yyyy HH:mm:ss'}}</mdl-list-item-sub-title>
        </mdl-list-item-primary-content>
        <mdl-list-item-secondary-content>
          <mdl-list-item-secondary-info>Preço</mdl-list-item-secondary-info>
          <span>{{item.price | currency : 'BRL':true}}</span>
        </mdl-list-item-secondary-content>
      </mdl-list-item>
    </mdl-list>
  </div>
  </mdl-dialog>

  <mdl-dialog #checkInTableDialog [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '300px', 'padding':'0px'},
              isModal:true,
              enterTransitionDuration: 200,
              leaveTransitionDuration: 200}">
    <p class="mdl-dialog__title">Selecione a mesa</p>
    <div class="mdl-dialog__content">
      <mdl-list class="tables">
        <mdl-list-item *ngFor="let table of tables | async" mdl-ripple (click)="selectedTable = table">
          <mdl-list-item-primary-content>{{table.name}}</mdl-list-item-primary-content>
          <mdl-list-item-secondary-content *ngIf="!!selectedTable && table.$key === selectedTable.$key">
            <mdl-icon>check</mdl-icon>
          </mdl-list-item-secondary-content>
        </mdl-list-item>
      </mdl-list>
    </div>
    <div class="mdl-dialog__actions">
      <button mdl-button (click)="checkInSetTable(); checkInTableDialog.close()" mdl-button-type="raised" mdl-colored="primary"
        mdl-ripple>Check-In</button>
        <button mdl-button (click)="checkInTableDialog.close()" mdl-ripple>Fechar</button>
    </div>
    </mdl-dialog>

    <mdl-dialog #checkOutTableDialog [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '300px', 'padding':'0px'},
              isModal:true,
              enterTransitionDuration: 200,
              leaveTransitionDuration: 200}">
      <p class="mdl-dialog__title">Checkout</p>
      <div class="mdl-dialog__content">
        <mdl-checkbox [(ngModel)]="tax" mdl-ripple>Cobrar taxa de serviço?</mdl-checkbox>
        <mdl-textfield *ngIf="tax" label="Percentual" type="number" min="1" max="100" step="1" [(ngModel)]="perc" floating-label disableNativeValidityChecking></mdl-textfield>
      </div>
      <div class="mdl-dialog__actions">
        <button mdl-button (click)="calculateCheckOut(); checkOutTableDialog.close()" mdl-button-type="raised" mdl-colored="primary"
          mdl-ripple>Calcular</button>
          <button mdl-button (click)="checkOutTableDialog.close()" mdl-ripple>Fechar</button>
      </div>
      </mdl-dialog>