.tables {
    height:150px;
    overflow-y: scroll;
    padding: 0px;
}

.mdl-dialog__title {
    font-size: 1.5em;
}

.orders__title {
    padding:0px;
    text-align: right;
    height: 0px;
}

.orders__content {
    padding:0px;
    height: 100vh;
    overflow-y: scroll;
}

.checkin-list .mdl-list__item--two-line {
    height: 85px;
}