h4 {
    margin:0px;
    padding:0px;
    text-align: center;
    color: #000;
    border-bottom: 1px solid #CCC;
    height: 50px;
    line-height: 50px;
}

.mdl-list {
    float:left;
    width: calc(33.3333333333% - 1px);
    height:calc(100vh - 80px);
    border-right: 1px solid #CCC;
    overflow-y: scroll;
}

.mdl-list__item {
    height:95px;
    margin:0px;
    padding: 10px;
}