<mdl-layout mdl-layout-fixed-header [mdl-layout-fixed-drawer]="!!lh.user && !!lh.user.uid" #mdlLayout="mdlLayout">
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-spacer></mdl-layout-spacer>
      <span class="login-name" *ngIf="!!lh.user">Olá, {{lh.user.displayName}}</span>
      <button mdl-button mdl-button-type="icon" mdl-ripple class="login-avatar" [mdl-toggle-menu]="userMenu" *ngIf="!!lh.user">
        <img class="login-avatar-img" [src]="lh.user.photoURL" [alt]="lh.user.displayName" />
        </button>
      <mdl-menu #userMenu="mdlMenu" mdl-menu-position="bottom-right">
        <mdl-menu-item *ngIf="allowedReadOtherCheckIn" [routerLink]="['checkin']">Check-Ins</mdl-menu-item>
        <mdl-menu-item *ngIf="allowedReadOtherOrders" [routerLink]="['kitchen', 'bar']">Bar</mdl-menu-item>
        <mdl-menu-item *ngIf="allowedReadOtherOrders" [routerLink]="['kitchen', 'kitchen']">Cozinha</mdl-menu-item>
        <mdl-menu-item *ngIf="allowedReadOtherDishs" [routerLink]="['dishs']">Pratos</mdl-menu-item>
        <mdl-menu-item *ngIf="allowedCreateCheckIn && (!ch.checkIn || (ch.checkIn && !ch.checkIn.orderCheckInTime))" (click)="checkIn()">Check-In</mdl-menu-item>
        <mdl-menu-item *ngIf="ch.checkIn && ch.checkIn.orderCheckInTime && !ch.checkIn.table" disabled>Aguardando mesa</mdl-menu-item>
        <mdl-menu-item *ngIf="ch.checkIn && !!ch.checkIn.table" [routerLink]="['orders']">Sua comanda, mesa {{ch.checkIn.table}}</mdl-menu-item>
        <mdl-menu-item *ngIf="allowedUpdateCheckIn && (ch.checkIn && !!ch.checkIn.table && !ch.checkIn.orderCheckOutTime)" (click)="checkOut()">Solicitar CheckOut</mdl-menu-item>
        <mdl-menu-item mdl-menu-item-full-bleed-divider [routerLink]="['profile']">Seu perfil</mdl-menu-item>
        <mdl-menu-item (click)="logout()">Sair</mdl-menu-item>
      </mdl-menu>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer *ngIf="!!lh.user">
    <mdl-layout-title>Cardápio</mdl-layout-title>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" *ngFor="let category of categories | async" [routerLink]="['menu', (!category.favorite?category.name:'fav')]"
        (click)="mdlLayout.closeDrawer()">{{category.name}}</a>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content>
    <router-outlet></router-outlet>
  </mdl-layout-content>
</mdl-layout>