<mdl-layout mdl-layout-fixed-header>
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-spacer></mdl-layout-spacer>
      <span class="login-name" *ngIf="!!lh.user">Olá, {{lh.user.displayName}}</span>
      <button mdl-button mdl-button-type="icon" mdl-ripple class="login-avatar" [mdl-toggle-menu]="userMenu"
        *ngIf="!!lh.user">
        <img class="login-avatar-img" [src]="lh.user.photoURL" [alt]="lh.user.displayName" />
        </button>
        <mdl-menu #userMenu="mdlMenu" mdl-menu-position="bottom-right">
          <mdl-menu-item>Seu perfil</mdl-menu-item>
          <mdl-menu-item *ngIf="!ch.lastCheckIn || (ch.lastCheckIn && !ch.lastCheckIn.initDate)" (click)="checkIn()">Check-In</mdl-menu-item>
          <mdl-menu-item *ngIf="ch.lastCheckIn && ch.lastCheckIn.initDate && !ch.lastCheckIn.table" disabled>Aguardando mesa</mdl-menu-item>
          <mdl-menu-item *ngIf="ch.lastCheckIn && !!ch.lastCheckIn.table" [routerLink]="['orders']">Sua comanda, mesa {{ch.lastCheckIn.table}}</mdl-menu-item>
          <mdl-menu-item *ngIf="ch.lastCheckIn && !!ch.lastCheckIn.table && !ch.lastCheckIn.orderedCheckOut" (click)="checkOut()">Solicitar CheckOut</mdl-menu-item>
          <mdl-menu-item mdl-menu-item-full-bleed-divider>Legal information</mdl-menu-item>
          <mdl-menu-item (click)="logout()">Sair</mdl-menu-item>
        </mdl-menu>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer>
    <mdl-layout-title>{{title}}</mdl-layout-title>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" [routerLink]="['menu']">Cardápio</a>
      <a class="mdl-navigation__link" [routerLink]="['about']">Sobre</a>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content>
    <router-outlet></router-outlet>
  </mdl-layout-content>
</mdl-layout>